@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');


body {

  font-family: 'Manrope', sans-serif;
}

li,
ul {
  display: flex;
  justify-content: space-around;
  font-size: large;
  font-weight: 700;
  font-family: 'Manrope', sans-serif;
}


h1,
h2 {
  display: flex;
  justify-content: center;
  
}

h3 {
  display: flex;
  justify-content: center;
}

button {
  text-align: center;

}
tr {
  text-align: center;
  font-family: 'Manrope', sans-serif;
}
th {
  text-align: center;
  font-family: 'Manrope', sans-serif;
}

.tabla {
  background-image: url(./multimedia/pexels-nmr-hrd-3571065.jpg);
}
.titulo-tabla {
background-color: whitesmoke;
font-family: 'Manrope', sans-serif;
}
.titulo {
  background-image:url(./multimedia/pexels-kelly-l-2935982.jpg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
padding-top: 100px;
padding-bottom: 800px;

color: whitesmoke;

}

.equipos {

  font-family: 'Manrope', sans-serif;
}
.imagenes {
  display: flex;
}

.title {
  padding-top: 100px;
  font-weight: 700;
  padding-bottom: 100px;
}