@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');


body {
  background-image: url(./multimedia/pexels-nmr-hrd-3571065.jpg);
  font-family: 'Manrope', sans-serif;
}

li,
ul {
  display: flex;
  justify-content: space-around;
  font-size: large;
  font-weight: 700;
  font-family: 'Manrope', sans-serif;
}


h1,
h2 {
  display: flex;
  justify-content: center;

}

h3 {
  display: flex;
  justify-content: center;
}

button {
  text-align: center;

}
tr {
  text-align: center;
  font-family: 'Manrope', sans-serif;
}
th {
  text-align: center;
  font-family: 'Manrope', sans-serif;
}
.titulo {
background-color:lightgray;
opacity: 0.75;
padding-top: 50px;
font-family: 'Manrope', sans-serif;


}